.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9fafbeb;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 968px;
  margin-top: 2rem;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #999;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.header-top {
  composes: header;
}

.header-scroll {
  composes: header;
  position: sticky;
  height: 403px;
  top: -303px;
  align-items: flex-end;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  max-width: unset;
}

.header h1 {
  font-weight: 700;
  color: #1E3A8A;
}

.contact-info {
  margin: auto;
  text-align: left;
  font-size: 1.33rem;
}

.contact-info-top {
  composes: contact-info;
}

.contact-info-scroll {
  composes: contact-info;
  font-size: .85rem;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  align-self: flex-end;
  border-bottom: 1px solid #999;
}

.main {
  max-width: 968px;
  margin: 0 auto;
}

.section {
  display: grid;
  grid-template-columns: 5% 95%;
}

.sectionTitle {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1.8rem;
  color: #1E3A8A;
  margin-block-start: 2.33rem;
  margin-block-end: 0.5rem;
}

.sectionContent {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 1.15rem;
  line-height: 1.88rem;
  color: #111827;
}

.sectionContent h3 {
  margin-block-start: 2.33rem;
  margin-block-end: 0.33rem;
  font-size: 1.3rem;
  line-height: 1.67rem;
  letter-spacing: .18rem;
  color: #374151;
}

.sectionContent ol {
  padding-left: 1rem;
}

.siteFooter {
  width: 100%;
  max-width: 960px;
  text-align: center;
  font-size: 1.15rem;
  padding-block: 20px;
}

@media (min-width: 669px) and (max-width: 868px) {
  .header h1 {
    font-size: 1.33rem;
  }

  .contact-info-top {
    font-size: 1rem;
    padding-inline: 10px;
  }
}

@media (max-width: 668px) {
  .header h1 {
    font-size: 1.33rem;
  }

  .contact-info-top {
    font-size: 1rem;
    padding-inline: 10px;
  }
}
